{% extends 'timetable/main.html' %}

{% block content %}

<br>
    <div class="row">
        <div class="col-md-5">
            <h5>Wybierz interesującą Cię linię:</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Nazwa</th>
                    </tr>

                    {% for route in routes %}
                        <tr>
                            <td><a href="{% url 'timetable' route.id %}">{{route.name}}</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}